<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <form action=""></form>
    <input type="hidden" name="MerchantID" value="2000132">
    <input type="hidden" name="CheckMacValue" value="1000"> 
    <input type="hidden" name="ReturnURL" value="http:localhost">
    <button type="submit">Submit</button> -->
    <%= html %>
</body>
</html>